/* Charts Styles */
.chart-container {
  width: 100%;
  height: 200px;
  position: relative;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #60758a;
  font-style: italic;
}
